  <table class="table-auto w-full">
    <!-- Table header -->
    <thead>
      <tr>
        <th class="border px-4 py-2">Model ID</th>
        <th class="border px-4 py-2">Model Name</th>
      </tr>
    </thead>

       <!-- Table body -->
    <tbody>
      <tr>
        <td class="border px-4 py-2">
          <div>Model ID: {{ data.batchResponse[0].modelId }}</div>
          <div>Model Name: {{ data.batchResponse[0].modelName }}</div>
        </td>
        <td class="border px-4 py-2">
          <div>Model ID: {{ data.batchResponse[1].modelId }}</div>
          <div>Model Name: {{ data.batchResponse[1].modelName }}</div>
        </td>
      </tr>
    </tbody>
  </table>

<div>
  <h1>Home Page</h1>
  <img [src]="imageSrc" alt="Image">
</div>