<div class="container mx-auto">
  <!-- Navigation bar -->
  <nav class="bg-blue-500 p-4">
    <ul class="flex justify-center space-x-4">
      <li><a class="text-white" routerLink="/">Home</a></li>
      <li><a class="text-white" routerLink="/predictions">Predictions</a></li>
      <li><a class="text-white" routerLink="/original-data">Original Data</a></li>
    </ul>
  </nav>

  <table class="table-auto w-full">
    <!-- ... (your table content) ... -->
  </table>
</div>

<div>
  <h1>Home Page</h1>
  <img [src]="imageSrc" alt="Image">
</div>